TestWcfApp/Connected Services/NoteService/NoteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TakeMyNote.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TakeMyNote.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Note">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NoteDigest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Note" nillable="true" type="tns:Note" />
  <xs:complexType name="NoteDigest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Modified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShareLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoteDigest" nillable="true" type="tns:NoteDigest" />
  <xs:complexType name="ArrayOfNoteDigest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NoteDigest" nillable="true" type="tns:NoteDigest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNoteDigest" nillable="true" type="tns:ArrayOfNoteDigest" />
</xs:schema>