TestWcfApp/Connected Services/NoteService/NoteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NoteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9001/NoteService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9001/NoteService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9001/NoteService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TakeMyNote.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INoteService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="INoteService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="INoteService_GetByLink_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByLink" />
  </wsdl:message>
  <wsdl:message name="INoteService_GetByLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByLinkResponse" />
  </wsdl:message>
  <wsdl:message name="INoteService_GetAllByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllByUserId" />
  </wsdl:message>
  <wsdl:message name="INoteService_GetAllByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="INoteService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="INoteService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="INoteService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="INoteService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="INoteService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="INoteService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="INoteService">
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/INoteService/GetById" message="tns:INoteService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INoteService/GetByIdResponse" message="tns:INoteService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByLink">
      <wsdl:input wsaw:Action="http://tempuri.org/INoteService/GetByLink" message="tns:INoteService_GetByLink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INoteService/GetByLinkResponse" message="tns:INoteService_GetByLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/INoteService/GetAllByUserId" message="tns:INoteService_GetAllByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INoteService/GetAllByUserIdResponse" message="tns:INoteService_GetAllByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/INoteService/Create" message="tns:INoteService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INoteService/CreateResponse" message="tns:INoteService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/INoteService/Update" message="tns:INoteService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INoteService/UpdateResponse" message="tns:INoteService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/INoteService/Delete" message="tns:INoteService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INoteService/DeleteResponse" message="tns:INoteService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INoteService" type="tns:INoteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/INoteService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByLink">
      <soap:operation soapAction="http://tempuri.org/INoteService/GetByLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllByUserId">
      <soap:operation soapAction="http://tempuri.org/INoteService/GetAllByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/INoteService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/INoteService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/INoteService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NoteService">
    <wsdl:port name="BasicHttpBinding_INoteService" binding="tns:BasicHttpBinding_INoteService">
      <soap:address location="http://localhost:9001/NoteService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>